<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="442666080FC00.YabumiUploader" Version="1.2.0.28" Publisher="CN=2383AF17-10A3-447D-B221-23DE7A5711FE" />
  <Properties>
    <DisplayName>Yabumi Uploader</DisplayName>
    <PublisherDisplayName>Webnium Inc.</PublisherDisplayName>
    <Logo>images\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-US" />
    <Resource Language="ja-JP" />
  </Resources>
  <Applications>
    <Application Id="Microsoft.SDKSamples.ShareTargetSample" StartPage="default.html">
      <Extensions>
        <Extension Category="windows.shareTarget" StartPage="uploader.html">
          <ShareTarget>
            <SupportedFileTypes>
              <FileType>.jpg</FileType>
              <FileType>.jpeg</FileType>
              <FileType>.png</FileType>
              <FileType>.gif</FileType>
              <FileType>.svg</FileType>
              <FileType>.pdf</FileType>
            </SupportedFileTypes>
          </ShareTarget>
        </Extension>
        <Extension Category="windows.protocol" StartPage="uri.html">
          <Protocol Name="yabumi-uploader" />
        </Extension>
      </Extensions>
      <m2:VisualElements DisplayName="Yabumi" Description="https://yabumi.cc/" BackgroundColor="#eeeeee" ForegroundText="dark" Square150x150Logo="images\Square150x150Logo.png" Square30x30Logo="images\Square30x30Logo.png">
        <m2:DefaultTile ShortName="Yabumi" DefaultSize="square150x150Logo" Square70x70Logo="images\Square70x70Logo.png" Wide310x150Logo="images\Wide310x150Logo.png" Square310x310Logo="images\Square310x310Logo.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
            <m2:ShowOn Tile="square310x310Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="portrait" />
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="portraitFlipped" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
        <m2:SplashScreen BackgroundColor="#eeeeee" Image="images\Splash.png" />
      </m2:VisualElements>
      <ApplicationContentUriRules>
        <Rule Match="https://yabumi.cc/*" Type="include" />
      </ApplicationContentUriRules>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="picturesLibrary" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>